Checks: '*,
         -altera-id-dependent-backward-branch,
         -altera-struct-pack-align,
         -altera-unroll-loops,
         -android-cloexec-fopen,
         -bugprone-easily-swappable-parameters,
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -fuchsia-default-arguments-calls,
         -fuchsia-overloaded-operator,
         -llvmlibc-*,
         -misc-no-recursion,
         -modernize-use-trailing-return-type,
         -readability-convert-member-functions-to-static,
         -readability-identifier-length,
         -readability-magic-numbers,

WarningsAsErrors: '*'

HeaderFilterRegex: '.*h$'